.normal{
    background-color:lightpink;
}

.fighting{
    background-color: rgba(123, 25, 192, 0.767);
}

.flying{
    background-color: skyblue;
}

.poison{
    background-color: darkolivegreen;
}

.ground{
    background-color: burlywood;
}

.rock{
    background-color: grey;
}

.steel{
    background-color: lightslategray;
}

.fire{
    background-color: red;
}

.water{
    background-color:royalblue;
}

.electric{
    background-color: yellow;
}

.psychic{
    background-color:slateblue;
}

.grass{
    background-color: lightgreen;
}