.normal{
    background-color:rgba(250, 179, 190, 0.7);
}

.fighting{
    background-color: rgba(123, 25, 192, 0.7);
}

.flying{
    background-color: rgba(135, 206, 235,0.7);
}

.poison{
    background-color: rgba(85, 107, 47, 0.7);
}

.ground{
    background-color: rgba(222, 184, 135, 0.7);
}

.rock{
    background-color: rgba(128, 128, 128, 0.7);
}

.steel{
    background-color: rgba(119, 136, 153, 0.7);
}

.fire{
    background-color: rgba(255, 0, 0, 0.7);
}

.water{
    background-color:rgba(65, 105, 225, 0.7);
}

.electric{
    background-color: radial-gradient(black, rgba(231, 228, 31, 0.7),);
}

.psychic{
    background-color:slateblue;
}

.grass{
    background-color: lightgreen;
}