@media screen and (max-width: 380px) {
  .cardsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .cardsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
  }
}

@media screen and (min-width: 770px) {
  .cardsContainer {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
}

@media screen and (max-width: 380px) {
  .pokemonLogo {
    width: 5em;
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .pokemonLogo {
    width: 200px;
  }
}

@media screen and (min-width: 770px) {
  .pokemonLogo {
    width: 300px;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
  }
}

@media screen and (max-width: 380px) {
  #logOutPokeball {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 33%;
    left: 80px;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  #logOutPokeball {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 33%;
    left: 80px;
  }
}

@media screen and (min-width: 770px) {
  #logOutPokeball {
    width: 50px;
    height: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: absolute;
    bottom: 33%;
    left: 80px;
  }
}

@media screen and (max-width: 380px) {
  .searchForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .searchForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 770px) {
  .card {
    margin-bottom: 2rem;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @-webkit-keyframes pulse {
    0% {
      background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
      background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
      background-color: rgba(165, 165, 165, 0.1);
    }
  }
  @keyframes pulse {
    0% {
      background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
      background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
      background-color: rgba(165, 165, 165, 0.1);
    }
  }
  .p-autocomplete {
    width: 300px;
  }
  .customer-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
  }
  .customer-badge.status-qualified {
    background-color: #C8E6C9;
    color: #256029;
  }
  .customer-badge.status-unqualified {
    background-color: #FFCDD2;
    color: #C63737;
  }
  .customer-badge.status-negotiation {
    background-color: #FEEDAF;
    color: #8A5340;
  }
  .customer-badge.status-new {
    background-color: #B3E5FC;
    color: #23547B;
  }
  .customer-badge.status-renewal {
    background-color: #ECCFFF;
    color: #694382;
  }
  .customer-badge.status-proposal {
    background-color: #FFD8B2;
    color: #805B36;
  }
  .product-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
  }
  .product-badge.status-instock {
    background: #C8E6C9;
    color: #256029;
  }
  .product-badge.status-outofstock {
    background: #FFCDD2;
    color: #C63737;
  }
  .product-badge.status-lowstock {
    background: #FEEDAF;
    color: #8A5340;
  }
  .order-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
  }
  .order-badge.order-delivered {
    background: #C8E6C9;
    color: #256029;
  }
  .order-badge.order-cancelled {
    background: #FFCDD2;
    color: #C63737;
  }
  .order-badge.order-pending {
    background: #FEEDAF;
    color: #8A5340;
  }
  .order-badge.order-returned {
    background: #ECCFFF;
    color: #694382;
  }
  .image-text {
    vertical-align: middle;
    margin-left: .5rem;
  }
  .p-column-filter {
    width: 100%;
  }
  .pokemon-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50px;
  }
  .pokemon-item:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-weight: bolder;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    z-index: 1;
  }
  .pokemon-item .pokemon-img {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 5em;
  }
  .pokemon-item .pokemon-name {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 380px) {
  .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: red;
    height: 8em;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #376B95;
    height: 8em;
  }
}

@media screen and (min-width: 770px) {
  .navBar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #376B95;
    height: 8em;
    border-bottom: 1px solid lightgray;
  }
}

@media screen and (max-width: 380px) {
  .controlBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .controlBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 770px) {
  .controlBar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: 1px solid lightgray;
  }
  .hideShowBtn {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: -50px;
    left: 1%;
    width: 180px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 0 0 10px 10px;
    color: black;
    -webkit-transition: 2s ease-out;
    transition: 2s ease-out;
  }
  .hideShowBtn:hover > .hideShowImage {
    -webkit-animation: spin 5s infinite ease-out;
            animation: spin 5s infinite ease-out;
  }
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .hideShowBtn:hover {
    background-color: lightgray;
  }
  .hideShowBtn .hideShowImage {
    width: 40px;
  }
  .allBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    cursor: pointer;
  }
  .allBtn:hover > span {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-weight: bolder;
  }
  .allBtn:hover > img {
    -webkit-animation: spin 5s infinite ease-out;
            animation: spin 5s infinite ease-out;
  }
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .allBtn img {
    max-width: 50%;
  }
  .allBtn img:hover {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .allBtn span {
    font-size: 0.8em;
  }
}

.visible {
  height: auto;
}

.invisible {
  height: 0px;
}

.loadingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px;
}

.loadingContainer .spinnerImage {
  width: 300px;
  margin: auto;
  -webkit-animation: spin 5s infinite ease-out;
          animation: spin 5s infinite ease-out;
  -webkit-animation: spin 4s infinite linear;
          animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.pokeCardImage {
  cursor: pointer;
}

.pokeCardType {
  cursor: pointer;
}

@media screen and (max-width: 380px) {
  .pokeCard {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto;
    width: 350px;
    height: 500px;
    border: 4px solid black;
    border: radius 15px;
  }
  .pokeCard .pokeCardPokeball {
    position: absolute;
    width: 80px;
    top: -40px;
    right: -40px;
    -webkit-animation-name: pokeball;
            animation-name: pokeball;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  @-webkit-keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  @keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  .pokeCard .pokeCardName {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 2.5em;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .pokeCard .pokeCardImage {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    max-width: 20em;
    max-height: 70%;
  }
  .pokeCard .pokeCardImage:hover {
    -webkit-transition: 3s;
    transition: 3s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .pokeCard .pokeCardType {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 2em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .pokeCard {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto;
    width: 350px;
    height: 400px;
    border: 4px solid black;
    border-radius: 0px;
  }
  .pokeCard .pokeCardPokeball {
    position: absolute;
    width: 80px;
    top: -40px;
    right: -40px;
    -webkit-animation-name: pokeball;
            animation-name: pokeball;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  @-webkit-keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  @keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  .pokeCard .pokeCardName {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 2.5em;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .pokeCard .pokeCardImage {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    max-width: 20em;
    max-height: 70%;
  }
  .pokeCard .pokeCardImage:hover {
    -webkit-transition: 3s;
    transition: 3s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .pokeCard .pokeCardType {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 2em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 770px) {
  .pokeCard {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto;
    width: 350px;
    height: 450px;
    border: 4px solid black;
    border-radius: 15px;
  }
  .pokeCard .pokeCardPokeball {
    position: absolute;
    width: 60px;
    top: -40px;
    right: -40px;
    -webkit-animation-name: pokeball;
            animation-name: pokeball;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  @-webkit-keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  @keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  .pokeCard .pokeCardName {
    font-size: 2.5em;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .pokeCard .pokeCardImage {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    max-width: 100%;
    max-height: 70%;
    margin-bottom: 40px;
    cursor: pointer;
  }
  .pokeCard .pokeCardImage:hover {
    -webkit-transition: 3s;
    transition: 3s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 2;
  }
  .pokeCard .pokeCardType {
    position: absolute;
    width: 150px;
    height: 40px;
    bottom: -20px;
    right: 15%;
    z-index: 1;
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  .pokeCard .pokeNumber {
    position: absolute;
    width: 100px;
    height: 40px;
    top: -20px;
    right: 15%;
    z-index: 1;
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
}

.specificPokemoncontainer {
  height: calc(100vh - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 380px) {
  .typeCardContainer .typeCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    width: 90px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: lightslategray 4px 4px;
            box-shadow: lightslategray 4px 4px;
    cursor: pointer;
  }
  .typeCardContainer .typeCard:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-box-shadow: lightslategray 1px 1px;
            box-shadow: lightslategray 1px 1px;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .typeCardContainer .typeCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    width: 90px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: lightslategray 4px 4px;
            box-shadow: lightslategray 4px 4px;
    cursor: pointer;
  }
  .typeCardContainer .typeCard:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-box-shadow: lightslategray 1px 1px;
            box-shadow: lightslategray 1px 1px;
  }
}

@media screen and (min-width: 770px) {
  .typeCardContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: 100%;
    gap: 12px;
  }
  .typeCardContainer .typeCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    width: 90px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: lightslategray 4px 4px;
            box-shadow: lightslategray 4px 4px;
    cursor: pointer;
  }
  .typeCardContainer .typeCard:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-box-shadow: lightslategray 1px 1px;
            box-shadow: lightslategray 1px 1px;
  }
}

.normal {
  background-color: rgba(250, 179, 190, 0.7);
}

.fighting {
  background-color: rgba(123, 25, 192, 0.7);
}

.flying {
  background-color: rgba(135, 206, 235, 0.7);
}

.poison {
  background-color: rgba(85, 107, 47, 0.7);
}

.ground {
  background-color: rgba(222, 184, 135, 0.7);
}

.rock {
  background-color: rgba(201, 124, 73, 0.7);
}

.steel {
  background-color: rgba(119, 136, 153, 0.7);
}

.fire {
  background-color: rgba(255, 0, 0, 0.7);
}

.water {
  background-color: rgba(65, 105, 225, 0.7);
}

.electric {
  background-color: rgba(238, 241, 34, 0.7);
}

.psychic {
  background-color: slateblue;
}

.grass {
  background-color: rgba(144, 238, 144, 0.699);
}

.ice {
  background-color: rgba(93, 187, 182, 0.719);
}

.dragon {
  background-color: rgba(211, 133, 44, 0.719);
}

.dark {
  background-color: rgba(26, 25, 24, 0.719);
}

.bug {
  background-color: rgba(50, 202, 70, 0.719);
}

.fairy {
  background-color: rgba(185, 59, 189, 0.719);
}

.ghost {
  background-color: rgba(94, 94, 94, 0.719);
}

.unknown {
  background-color: rgba(94, 94, 94, 0.719);
}

.shadow {
  background-color: rgba(94, 94, 94, 0.719);
}
/*# sourceMappingURL=styles.css.map */