@media screen and (max-width: 380px) {
  .cardsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .cardsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
  }
}

@media screen and (min-width: 770px) {
  .cardsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
  }
}

@media screen and (max-width: 380px) {
  .pokemonLogo {
    width: 5em;
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .pokemonLogo {
    width: 200px;
  }
}

@media screen and (min-width: 770px) {
  .pokemonLogo {
    width: 300px;
  }
}

@media screen and (max-width: 380px) {
  #logOutPokeball {
    width: 50px;
    height: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  #logOutPokeball {
    width: 50px;
    height: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 770px) {
  #logOutPokeball {
    width: 50px;
    height: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 380px) {
  .searchForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .searchForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 770px) {
  .searchForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 15%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
}

@media screen and (max-width: 380px) {
  .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: red;
    height: 8em;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #376B95;
    height: 8em;
  }
}

@media screen and (min-width: 770px) {
  .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #376B95;
    height: 8em;
  }
}

@media screen and (max-width: 380px) {
  .controlBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .controlBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 770px) {
  .controlBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.loadingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px;
}

.loadingContainer .spinnerImage {
  width: 300px;
  margin: auto;
  -webkit-animation: spin 4s infinite linear;
          animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 380px) {
  .pokeCard {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto;
    width: 350px;
    height: 500px;
    border: 4px solid black;
    border: radius 15px;
  }
  .pokeCard .pokeCardPokeball {
    position: absolute;
    width: 80px;
    top: -40px;
    right: -40px;
    -webkit-animation-name: pokeball;
            animation-name: pokeball;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  @-webkit-keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  @keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  .pokeCard .pokeCardName {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 2.5em;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .pokeCard .pokeCardImage {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .pokeCard .pokeCardImage:hover {
    -webkit-transition: 3s;
    transition: 3s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .pokeCard .pokeCardType {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 2em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .pokeCard {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto;
    width: 350px;
    height: 500px;
    border: 4px solid black;
    border-radius: 0px;
  }
  .pokeCard .pokeCardPokeball {
    position: absolute;
    width: 80px;
    top: -40px;
    right: -40px;
    -webkit-animation-name: pokeball;
            animation-name: pokeball;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  @-webkit-keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  @keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  .pokeCard .pokeCardName {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 2.5em;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .pokeCard .pokeCardImage {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .pokeCard .pokeCardImage:hover {
    -webkit-transition: 3s;
    transition: 3s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .pokeCard .pokeCardType {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 2em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 770px) {
  .pokeCard {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto;
    width: 350px;
    height: 500px;
    border: 4px solid black;
    border-radius: 15px;
  }
  .pokeCard .pokeCardPokeball {
    position: absolute;
    width: 80px;
    top: -40px;
    right: -40px;
    -webkit-animation-name: pokeball;
            animation-name: pokeball;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  @-webkit-keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  @keyframes pokeball {
    0% {
      top: 460px;
      right: -40px;
    }
    100% {
      top: -40px;
      right: -40px;
    }
  }
  .pokeCard .pokeCardName {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 2.5em;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .pokeCard .pokeCardImage {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    max-width: 20em;
    max-height: 70%;
  }
  .pokeCard .pokeCardImage:hover {
    -webkit-transition: 3s;
    transition: 3s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .pokeCard .pokeCardType {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 2em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 380px) {
  .typeCardContainer .typeCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    width: 90px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: lightslategray 4px 4px;
            box-shadow: lightslategray 4px 4px;
    cursor: pointer;
  }
  .typeCardContainer .typeCard:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-box-shadow: lightslategray 1px 1px;
            box-shadow: lightslategray 1px 1px;
  }
}

@media screen and (min-width: 381px) and (max-width: 769px) {
  .typeCardContainer .typeCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    width: 90px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: lightslategray 4px 4px;
            box-shadow: lightslategray 4px 4px;
    cursor: pointer;
  }
  .typeCardContainer .typeCard:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-box-shadow: lightslategray 1px 1px;
            box-shadow: lightslategray 1px 1px;
  }
}

@media screen and (min-width: 770px) {
  .typeCardContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: 100%;
    gap: 12px;
  }
  .typeCardContainer .typeCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    width: 90px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: lightslategray 4px 4px;
            box-shadow: lightslategray 4px 4px;
    cursor: pointer;
  }
  .typeCardContainer .typeCard:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-box-shadow: lightslategray 1px 1px;
            box-shadow: lightslategray 1px 1px;
  }
}

.normal {
  background-color: lightpink;
}

.fighting {
  background-color: rgba(123, 25, 192, 0.767);
}

.flying {
  background-color: skyblue;
}

.poison {
  background-color: darkolivegreen;
}

.ground {
  background-color: burlywood;
}

.rock {
  background-color: grey;
}

.steel {
  background-color: lightslategray;
}

.fire {
  background-color: red;
}

.water {
  background-color: royalblue;
}

.electric {
  background-color: yellow;
}

.psychic {
  background-color: slateblue;
}

.grass {
  background-color: lightgreen;
}
/*# sourceMappingURL=styles.css.map */