
@include mediaQuery-phone{
    .navBar{
        display:flex;
        flex-direction:row;
        background-color: red;
        height:8em;
    }
}

@include mediaQuery-tablet{
    .navBar{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        background-color:#376B95;
        height:8em;
    }
}

@include mediaQuery-desktop{
    .navBar{
        position:relative;
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        background-color:#376B95;
        height:8em;
    }
}