.loadingContainer{
display:flex;
justify-content:center;
align-items: center;
margin:200px;
    .spinnerImage{
        width:300px;
        margin:auto;
        @include spinAnimation;
        animation: spin 4s infinite linear;
    }
}