.loadingContainer{
display:flex;
justify-content:center;
align-items: center;
margin:200px;
    .spinnerImage{
        width:300px;
        margin:auto;
        animation: spin 4s infinite linear;
        @keyframes spin {
            from {transform:rotate(0deg);}
            to {transform:rotate(360deg);}
        }
    }
}