@include mediaQuery-phone{
    #logOutPokeball{
        width:50px;
        height: 50px;
        position:absolute;
        bottom:33%;
        left:80px;
    }   
};

@include mediaQuery-tablet{
    #logOutPokeball{
        width:50px;
        height: 50px;
        position:absolute;
        bottom:33%;
        left:80px;
    }  
};

@include mediaQuery-desktop{
    #logOutPokeball{
        width:50px;
        height: 50px;
        flex-grow:1;
        position:absolute;
        bottom:33%;
        left:80px;
    }  
};
