
@include mediaQuery-phone{
    .typeCardContainer{
        .typeCard{
            display:flex;
            justify-content:center;
            align-items:center;
            text-transform: uppercase;
            font-weight: 600;
            width:90px;
            height:40px;
            border:2px solid black;
            border-radius:10px;
            box-shadow: lightslategray 4px 4px;
            cursor:pointer;
            &:active{
                transition:0.3s;
                transform:translateY(3px);
                box-shadow:lightslategray 1px 1px;
            }
        }   
    }
}

@include mediaQuery-tablet{
    .typeCardContainer{
        .typeCard{
  display:flex;
            justify-content:center;
            align-items:center;
            text-transform: uppercase;
            font-weight: 600;
            width:90px;
            height:40px;
            border:2px solid black;
            border-radius:10px;
            box-shadow: lightslategray 4px 4px;
            cursor:pointer;
            &:active{
                transition:0.3s;
                transform:translateY(3px);
                box-shadow:lightslategray 1px 1px;
            }
        }   
    }
}

@include mediaQuery-desktop{
    .typeCardContainer{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        margin:20px auto;
        justify-content:center;
        align-items:center;
        width:60%;
        height:100%;
        gap:12px;
        .typeCard{
            display:flex;
            justify-content:center;
            align-items:center;
            text-transform: uppercase;
            font-weight: 600;
            width:90px;
            height:40px;
            border:2px solid black;
            border-radius:10px;
            box-shadow: lightslategray 4px 4px;
            cursor:pointer;
            &:active{
                transition:0.3s;
                transform:translateY(3px);
                box-shadow:lightslategray 1px 1px;
            }
        }   
    }
}